// Colors

$orange: #ff6600;
$darkOrange: #e05b02;
$royalBlue: #236cb9;
$darkBlue: #337ab7;
$skyBlue: #43b8c5;
$white: #fff;
$black: #000;
$gray: #333;
$gray1: #444;
$gray2: #4f4f4f;
$lightGray: #ccc;
$light: #eee;

// Fonts

$acmeFont: var(--font-acme);
$robotoFont: var(--font-roboto);
$robotoMonoFont: var(--font-robotoMono);